<header class="fwe-fixed-header">
  <!-- fwe-navbar--no-logo! -->
  <nav class="fwe-navbar fwe-navbar--no-logo">
    <div class="fwe-container">
      <!-- fwe-app-title-container! -->
      <div class="fwe-app-title-container">EXPENSE TRACKER</div>
      <div class="fwe-mobile-flyout fwe-d-block fwe-d-md-none fwe-mr-auto">
        <button class="fwe-burger-button" id="burgerbutton"></button>
      </div>
      <nav class="fwe-navlist fwe-d-none fwe-d-md-flex">
      </nav>
    </div>
  </nav>
</header>
<div class="fwe-navbar-spacer"></div>