<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2>Total Number of Users are : <%= count %></h2>
    <h4>To View All Users Data Click on the Below Button</h4>
    <button><a href="http://localhost:8080/users">User Data</a></button>
    <h4>Click the Below Button to Add New User</h4>
    <button><a href="http://localhost:8080/add">Add newUser</a></button>
</body>
</html>